<!DOCTYPE html>
<html>
  <head>
    <title>Shiv Shakti Construction</title>
    <meta charset="utf-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1">
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
  
    <img class="img-fluid" id="banner" src="https://KeepLearning1.saurabhproject1.repl.co/static/banner.jpeg" >
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
            </h1>
      
    </body>
</html>
        